<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>788390278123-mb5sm6l73ohqutsu2gb99359l3fgsdli.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.788390278123-mb5sm6l73ohqutsu2gb99359l3fgsdli</string>
	<key>API_KEY</key>
	<string>AIzaSyBRLaHIIF6FepgT1ckHHv37JeCqJLKVZLk</string>
	<key>GCM_SENDER_ID</key>
	<string>788390278123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Anahi.AppGraficas</string>
	<key>PROJECT_ID</key>
	<string>imagesstorage-9022c</string>
	<key>STORAGE_BUCKET</key>
	<string>imagesstorage-9022c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788390278123:ios:6c49e3b6d2bf6dd9375fae</string>
</dict>
</plist>